.component {
    width: 100%;
    height: 200px;
    background: #d5d5d5;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
}
