.component {
    width: 100%;
    height: 100%;
}

.component :global(.ant-form-item-label) {
    margin: 0;
    white-space: initial;
    text-align: left;
    padding: 0px !important;
    margin-bottom: -6px !important;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* text-shadow: 0.01px 0 0 currentColor; */
    font-size: 0.82rem !important;
}

.component :global(.ant-form-item-explain) {
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* text-shadow: 0.01px 0 0 currentColor; */
    font-size: 0.72rem !important;
    /* color: #272727; */
    /* letter-spacing: -0.4px; */
    text-align: right;
}
